// YOU MUST USE BEM HERE
// IMPLEMENT ALL THE RULES RELATED TO THE COMPONENTS THAT ARE PART OF YOUR DESIGN SYSTEM HERE 
// Example: input, button, card ...

/* Navbar */
.nav {
  display: grid;
  grid-template-columns: 10% auto auto auto;
  align-items: center;
  height: 3rem;
  width: 100%;


  &__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
  }

  & > img {
    width: 90%;
  }
  &__item {
    padding: 0 0.5rem;
    height: 100%;
  }

  &__item:hover {
    border-bottom: #0063fb solid 2px;
  }

  &__item svg {
    color: #9ba8ba;
  }

  & a {
    display: flex;
    height: 100%;
    color: #464646;
  }

  &, ul, li {
    list-style: none;
  }

  & svg {
    margin-right: 2rem;
  }
}


/* Searchbar */
.search {
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
  align-items: center;


  &__bar {
    flex-grow: 1;
  }

  &__input {
    margin: 1rem 0;
    padding: 0.9rem 1rem;
    width: 100%;
    font-size: 1rem;
    border: #c3ccd9 solid 1px;
  }

  &::placeholder {
    color: #c3ccd9;
  }

  &__input:hover {
    border-color: #9ba8ba;
  }

  &__input:focus {
    outline: 2px solid #06befb;
    outline-offset: -2px;
  }

  &__button svg {
    color: #c3ccd9;
  }

  &__map:hover {
    text-decoration: underline;
  }

  &__map svg {
    margin-right: 10px;
  }

  &__map span {
    font-size: 1rem;
    color: #464646;
    font-family: finn-bold;
  }
}

/* Listing */
.listing {
  margin: 1rem 0;
  padding: 0 1rem;


  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }

  &__header {
    margin-bottom: 2rem;
  }

  &__header h1,
  &__header p {
    display: inline-block;
  }

  &__header a {
    color: #0063fb;
  }

  &__header a:hover,
  &__header a:visited {
    text-decoration: underline;
  }

  &__card:hover {
    background-color: #f1f9ff;
  }

  &__image {
    position: relative;
    width: 285px;
    height: 310px;
  }

  &__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid #c3ccd9;
  }

  &__shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%;
    z-index: 0;
    background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    border-radius: 0 0 8px 8px;
  }

  &__price {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: white;
    z-index: 1;
  }

  &__info {
    padding-bottom: 1rem;
  }

  &__place {
    padding: 0.5rem 0;
    color: grey;
  }

  &__title {
    font-size: 1.2rem;
  }

}

/* Menu */
.menu {
  grid-gap: 1rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);


  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem 0;
  }

  &__item--blue {
    color: #06befb;
  }

  &__item:hover {
    color: #767676;
  }

  &__label {
    color: #464646;
    padding: 0.5rem;
  }
}



/* Login page */

/* general */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-family: "Finn";
  max-width: 100%;
}

h1 {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

a {
color: #0063fb;
}


.login-background {
  background-color: #f6f8fb;
}
/* general end */

.left-container {
  display: block;
  background-color: #f1f9ff;
  text-align: center;
  height: 350px;
  padding: 25px;
  align-self: center;
}

/* Login */

.login-page {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  width: 100%;
  color: #767676;
}

 .login {
  
  &-card {
    background-color: #ffffff;
    width: 400px;
    padding: 40px 40px;
    border-radius: 10px;
    justify-content: center;
    box-shadow: 0 20px 20px 0 gray;
  }

  &-card__header img {
    max-width: 20%;
  }

  &-card .required-label {
    margin-bottom: 1em;
  }

  &-card h1 {
    color: #464646;
    font-family: finn;
    margin: 25px 0;
  }

  & a, .login-card .required-label {
    display: block;
  }

  &-card input {
    padding: 15px 10px;
  }

  &-card__header {
    display: flex;
    justify-content: space-between;
  }

  &-card__input {
    background-color: #e5e5e5;
    border: none;
    border-radius: 5px;
    display: block;
    width: 100%;
    font-size: 1em;
  }

  &-card__checkbox {
    margin: 15px;
  }

  &-card__button {
    display: block;
    width: 100%;
    margin-bottom: 1em;
    border-radius: 5px;
    font-size: 15px;
    padding: 11px;
  }

}
/* Login end */

/* login and password */
.login-card {
  &__button--mail {
    background-color: #0063fb;
    color: white;
    border: none;
  }
  &__button--mail:hover {
    background-color: #004abc;
    box-shadow: 5px black;
  }

  &__button--password {
    background-color: #ffffff;
    color: #0063fb;
    border: none;
  }
  &__button--password:hover {
    background-color: #f1f9ff;
    border: solid 1px #e5e5e5;
  }
}
/* login and password end */

/* footer */
.login {
  &-footer {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin-top: 1em;
  }

  &-footer ul {
    position: relative;
    left: 320px;
  }

  &-footer ul li {
    display: inline;
    margin-right: 5px;
  }
}